.carrossel__container {
   max-width: 100vw; 
}

.carrossel{
   width: 30vw;
   display: flex;
   flex-flow: column;
}

.carrossel__imagem{
   width: 100%;
}

.carrossel__link {
   display: flex;
   justify-content: center;
   width: 80%;
   text-decoration: none;
   background-color: #303030;
   padding: .5em 0;
   color: #fff;
   transition: .3s;
}

.carrossel__link span {
   display: flex;
   justify-content: center;
}

.carrossel:hover > .carrossel__link{
   transition: .5s;
   width: 100%;
}

.carrossel__container__mobile{
   display: none;
}

@media screen and (max-width: 1000px) {

   .carrossel__container__mobile{
      display: flex;
      max-width: 100vw; 
   }

   .carrossel__container{
      display: none;
   }
   .carrossel__link{
      width: 100%;
   }
}