.card__container{
   width: 300px;
   border-radius: 20px;
   box-shadow: inset -2px -2px 6px rgba(105, 105, 105, 0.757);
   padding: 2em 1em;
   margin: 1em 1em;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   transition: .3s all ease;
}

.card__container:hover{
   transition: .3s all ease;
   cursor: pointer;
   opacity: .8;
   box-shadow:inset 2px 2px 6px rgb(180, 180, 180);
}

.imagem__card {
   width: 150px;
   padding: .5em;
}

.rodape__card{
   font-size: 1.2em;
   font-weight: bold;
   color: #f6f6f6;
}