@keyframes pisca {
   from{
      border-right: 1px solid #ffffff;
   }
   to {
      border-right: 1px solid transparent;
   }
}

@keyframes escrever {
   from {
      width: 0;
   } 
   to {
      width: 10em;
   }
}

.banner {
   max-width: 100vw;
   height: 70vh;
   background-blend-mode: multiply;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   
}

.titulo {
   font-size: 5em;
   padding-bottom: 10px;
   border-right: 2px solid transparent;
   font-weight: bold;
   color: #fff;
   text-align: center;
   animation: pisca 1.5s steps(40) infinite, escrever 4s steps(40) 1s normal both;
   white-space: nowrap;
   overflow: hidden;
}

.banner span {
   font-size: 1.5em;
   color: #f6f6f6;
}

@media screen and (max-width: 800px) {
   .titulo{ font-size: 2em;}

   .banner span{
      font-size: 1.2em;
   }
}